/* CSS escrito por Lahuel RS - 2023*/

/* Importo tipografias de Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@700&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	/* Genero un fondo con gradiente -fuente: https://cssgradient.io/  -*/
        background: rgb(10,10,111);
        background: linear-gradient(230deg, rgba(10,10,111,1) 0%, rgba(100,149,180,0.871568610354298) 87%, rgba(2,0,36,1) 100%); 
	/* Utilizo flexbox */
		display:flex;
		justify-content: center;
		align-items: center;
		min-height:100vh;
	/* Tipografia */ 	
		font-family: 'Noto Serif Georgian', serif;
		
}


.contenedor{
		position:relative;
		width:100%;
		max-width: 1000px;
		max-height:1000px;
		margin: 50px;
		background: #fff;
		/* Empleo una grilla*/
		display:grid;
		grid-template-columns: 1fr 1fr;
		box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.contenedor .tarjeta_principal{
		position:relative;
		background: #003147;
		padding: 40px;
		
}
.contenedor .tarjeta_contacto{
	position:relative;
	background: #003147;
	padding: 40px;
}

.tarjeta_principal, .tarjeta_contacto{
		position:relative;
		display:flex;
		flex-direction:column;
		align-items:center;
		padding-bottom: 20px;
		border-bottom:1px solid rgba(255,255,255,0.2);
	
}

.tarjeta_principal .fotografia_circular{
	padding: 1px;
	position:relative;
	width:200px;
	height:200px;
	border-radius:50%;
	overflow:hidden;
}

.tarjeta_principal .fotografia_circular img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;

}

.fotografia_circular:hover{
	/*Aplica sombra sobre la fotografia cuando el mouse/cursor esta encima*/
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /*Le doy un instante de transicion*/
		transition: 500ms;
	/*Transformo la foto, rotandola una vuelta*/
		transform: rotate(1turn);
}



.tarjeta_principal h2{
	color:#fff;
	font-size:1.5em;
	margin-top:20px;
	text-transform:uppercase;
	text-align: center;
	font-weight: 600;
	line-height:1.4em;
}

.tarjeta_principal h2 span{
	font-size:0.8em;
	font-weight:300;
	
}


.contenedor .tarjeta_idiomas{
		position:relative;
		background: #003147;
		padding: 40px;
}

.contenedor .tarjeta_conocimientos{
		position:relative;
		background: #003147;
		padding: 40px;
}

.barra_progreso{
    /*Crea una zona gris*/
        background-color: grey;
	/*Le añado borde "sombreado" inferior*/
	    box-shadow: inset 0 -1px 1px rgba(0, 100, 255, 0.3);
	/*Redondeo los bordes*/
	    border-radius: 4px;	
    /*La posiciono*/
        position:relative;    
	    padding:1px; 
	/*Alineo contenido al centro del objeto*/
		align-self: center;
}