/*CSS escrito por Lahuel RS - 2023*/

#contenedorPadre {
    display: grid;
  }
  #contenedorHijo {
    align-self: center;
    justify-self: center;
  }
  


body{
    /*Aplico fondo de color*/
        background-image:linear-gradient(#aaf1aa15);
    /*Aplico tipografia*/
        font-family: 'Noto Serif Georgian', serif;
        display: grid;
    /* Genero un fondo con gradiente */ 
    /* Gradiente generado con https://cssgradient.io/  */
    background: rgb(10,10,111);
    background: linear-gradient(230deg, rgba(10,10,111,1) 0%, rgba(100,149,180,0.871568610354298) 87%, rgba(2,0,36,1) 100%); 
}
.fotografia_circular{
    align-self: center;
    justify-self: center;
    /*Da un recorte de la imagen y aplica un leve blur/desenfoque*/
    /*Defino sus dimensiones.*/
        height: 100px;
        width: 100px;
    /*La centro*/
        align-items: center;
        justify-content: center;
    /*Aplico blur/desenfoque a la imagen*/
        filter: blur(1px);
    /*Redondeo los bordes*/
        border-radius: 50px;

}

.boton {
    /*Botón de 20px cuadrados.*/
    align-self: center;
    justify-self: center;
    /*Defino sus dimensiones.*/
        height: 20px;
        width: 20px;
    /*Le doy un borde con un radio de 3px.*/
        border-radius: 2px;
        margin-right: 10px;
    /*Defino los colores.*/
        color:#fff;S
        background-color: #0505ee;   
}

.carta_sombreada{
    /*Da un efecto de sombra y profundidad, animado al entrar al sitio*/
        align-self: center;
        justify-self: center;
    /*Agrego sombras para darle forma de cartas*/
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.carta_sombreada:focus{
    /*Muevo la sombra de la carta cuando este en foco*/
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3ms;
    /*Le doy perspectiva a la carta*/
        perspective: 15px;

}

.barra_progreso{
	
    /*Crea una zona gris*/
    background-color: grey;
	/*Le añado borde "sombreado" inferior*/*/
	box-shadow: inset 0 -1px 1px rgba(0, 100, 255, 0.3);
	/*Redondeo los bordes*/
	border-radius: 4px;	
    /*La posiciono*/
    position:relative;    
	padding:5px;
        
}
